<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="commerceEngine" type="Commerce.Engine.Configuration.CommerceEngineConfigurationSection,Commerce.Engine"/>
    <section name="pipelineFramework" type="Pipeline.Configuration.PipelineFrameworkConfigurationSection, PipelineFramework" />
  </configSections>
  <commerceEngine>
    <paymentProcessor name="acme" type="Commerce.Providers.AcmePaymentProcessor,Commerce.Providers" />
    <mailer name="myMailer" type="Commerce.Providers.Mailer,Commerce.Providers" fromAddress="miguelcastro67@gmail.com" smtpServer="mail.gmail.com" />
    <modules>
      <add name="ItemPromotion" type="Commerce.Modules.ItemPromotionModule,Commerce.Modules" 
           startDate="01/01/2014" endDate="2/10/2014"/>
    </modules>
  </commerceEngine>
  <pipelineFramework>
    <pipelines>
      <pipeline name="commerce" invokeAll="true">
        <modules>
          <add name="validateCustomer" type="Commerce.Modules.ValidateCustomerModule,Commerce.Modules" />
          <add name="adjustInventory" type="Commerce.Modules.AdjustInventoryModule,Commerce.Modules" />
          <add name="updateCustomer" type="Commerce.Modules.UpdateCustomerModule,Commerce.Modules" />
          <add name="processBilling" type="Commerce.Modules.ProcessBillingModule,Commerce.Modules" />
          <add name="sendNotification" type="Commerce.Modules.SendNotificationModule,Commerce.Modules" />
        </modules>
      </pipeline>
    </pipelines>
  </pipelineFramework>
</configuration>
